# Ignore virtual environment
penv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment/IDE files
.env
*.env
.vscode/
.idea/

# Ignore logs
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore FAISS index (optional, regenerate from PDFs if needed)
*.faiss
*.npy
